{:resource-paths ["resources"]
 :deps           {clj-http/clj-http       {:mvn/version "3.10.0"}
                  org.clojure/data.xml    {:mvn/version "0.2.0-alpha5"}
                  hickory/hickory         {:mvn/version "0.7.1"}
                  com.rpl/specter         {:mvn/version "1.1.2"}
                  hiccup-find/hiccup-find {:mvn/version "1.0.1"}
                  rss-domain/rss-domain   {:local/root "../domain"}}}