{:paths     ["resources" "src"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :deps      {org.clojure/clojure               {:mvn/version "1.10.3"}
             org.clojure/tools.namespace       {:mvn/version "1.1.0"}
             webapp-domain/webapp-domain       {:local/root "../webapp-domain"}
             clojure.jdbc/clojure.jdbc-c3p0    {:mvn/version "0.3.3"}
             org.postgresql/postgresql         {:mvn/version "42.2.10"}
             com.github.seancorfield/next.jdbc {:mvn/version "1.2.753"}
             com.layerware/hugsql              {:mvn/version "0.5.1"}
             com.github.seancorfield/honeysql  {:mvn/version "2.2.840"}
             metosin/malli                     {:mvn/version "0.7.4"}
             metosin/jsonista                  {:mvn/version "0.2.6"}
             mount/mount                       {:mvn/version "0.1.16"}
             ring/ring-devel                   {:mvn/version "1.7.1"}
             ring/ring-jetty-adapter           {:mvn/version "1.7.1"}
             metosin/reitit                    {:mvn/version "0.5.15"}
             expound/expound                   {:mvn/version "0.8.9"}
             joplin/joplin                     {:mvn/version "0.3.11"}
             com.rpl/specter                   {:mvn/version "1.1.2"}
             org.clojure/data.json             {:mvn/version "2.4.0"}}
 :aliases   {:dev  {:extra-paths ["dev"]
                    :extra-deps  {vvvvalvalval/scope-capture {:mvn/version "0.3.3-s1"}}}
             :test {:extra-paths ["test"]
                    :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0"}
                                  midje/midje            {:mvn/version "1.10.5"}
                                  scenari                {:mvn/version "1.5.0"}}}}}